KEEL_DB_NAME=keel
KEEL_DB_USER=
KEEL_DB_PASSWORD=
KEEL_DB_HOST=localhost
KEEL_DB_PORT=5432

KEEL_LEASE_SECONDS=30
KEEL_HEARTBEAT_SECONDS=5
KEEL_RETRY_BASE=1.0
KEEL_RETRY_MAX=300
KEEL_RETRY_JITTER=0.3

KEEL_OUTBOX_SINK=engine.sinks.FileSink
KEEL_OUTBOX_SINK_PATH=var/published.jsonl

KEEL_DEMO_FAILURE_RATE=0.25
KEEL_DEMO_LATENCY_MS=60
KEEL_READONLY=0
